<div class="container-fluid mx-0">
  <div class="jumbotron" style="background-image: url(https://cdn.pixabay.com/photo/2014/03/26/20/54/mountain-298999_960_720.jpg); background-size: cover; background-position: center; height: 400px;">
    <h1 class="display-3 text-primary">Bienvenue sur Evenbrite-like !</h1>
    <br/>
    <p class="text-info lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="text-warning">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="#" role="button">Créer un évènement</a>
    </p>
  </div>
</div>
<div class="container-fluid mx-0">
  <div class="jumbotron d-flex justify-content-center align-items-center" style="background-image: url(https://cdn.pixabay.com/photo/2014/03/26/20/54/mountain-298999_960_720.jpg); background-size: cover; background-position: center; height: 300px;">
    <h1 class="display-3 text-primary">Contactez-nous</h1>
  </div>
</div>
