<body>
  <section class="text-center p-2 m-5">
    <h1>Footer</h1>
  </section>
  <footer class="p-3 m-3 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://cdn.icon-icons.com/icons2/325/PNG/256/Letter-B-icon_34764.png" alt="" width="48" height="48">
        <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
      </div>
      <div class="col-12 col-md">
        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
      <div class="col-6 col-md d-flex justify-content-end">
        <ul class="list-unstyled text-small">
          <h5>Resources</h5>
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md d-flex justify-content-center">
        <ul class="list-unstyled text-small">
          <h5>About</h5>
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
