<!-- Formulaires -->
<html></html>
<body>
  <div class="container d-flex justify-content-center align-items-center" style="height:80vh" >
    <form class="w-50 my-5 p-5 bg-secondary text-white rounded text-center">
      <fieldset>
        <legend>Mot de passe oublié ?</legend>
        <div class="form-group row">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Addresse mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Donne ton mail là !">
          <small id="emailHelp" class="form-text text-muted">Nous ne partagerons votre email à personne, jamais.</small>
        </div>
        <br/>
        <button type="submit" class="btn btn-dark">Envoyer</button>
      </fieldset>
    </form>
  </div>
</body>
</html>
