<div class="container bg-primary text-white">
  <h1>Ceci est un container</h1>
  <div class="row">
    <div class="col-6 px-0 bg-success d-flex align-content-center">
      <img src="https://cdn.pixabay.com/photo/2014/03/26/20/54/mountain-298999_960_720.jpg" alt="" style="max-width: 100%; max-height: 100%;">
    </div>
    <div class="col-6 bg-info p-5">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quos quam deserunt iure ut minus iusto itaque accusamus nihil consectetur sunt eligendi eveniet, sint dolores accusantium praesentium quo atque soluta veritatis id repudiandae assumenda aperiam. Ut ipsum voluptatum deleniti quae quos? Sequi enim magnam minima quidem consequatur, similique laborum nemo, velit officia eligendi id dignissimos expedita corrupti neque obcaecati minus sint quia perspiciatis incidunt inventore provident, at saepe illum impedit. Exercitationem illo quidem voluptates voluptatibus, optio obcaecati alias magni rerum recusandae sint, dolor dolorum earum, ea accusamus beatae unde corporis expedita sit totam in amet! Autem asperiores illo possimus reiciendis?
      </p>
      <button class="btn btn-primary btn-block">Participer</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6 bg-info p-5">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quos quam deserunt iure ut minus iusto itaque accusamus nihil consectetur sunt eligendi eveniet, sint dolores accusantium praesentium quo atque soluta veritatis id repudiandae assumenda aperiam. Ut ipsum voluptatum deleniti quae quos? Sequi enim magnam minima quidem consequatur, similique laborum nemo, velit officia eligendi id dignissimos expedita corrupti neque obcaecati minus sint quia perspiciatis incidunt inventore provident, at saepe illum impedit. Exercitationem illo quidem voluptates voluptatibus, optio obcaecati alias magni rerum recusandae sint, dolor dolorum earum, ea accusamus beatae unde corporis expedita sit totam in amet! Autem asperiores illo possimus reiciendis?
      </p>
      <button class="btn btn-primary btn-block">Participer</button>
    </div>
    <div class="col-6 px-0 bg-success d-flex align-content-center">
      <img src="https://cdn.pixabay.com/photo/2014/03/26/20/54/mountain-298999_960_720.jpg" alt="" style="max-width: 100%; max-height: 100%;">
    </div>
  </div>
</div>
