<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<div class="container bg-primary text-white">
  <h1>Ceci est un container</h1>
  <%# Molécule n°1 %>
  <div class="row">
    <div class="col-8 p-0">
      <img src="https://cdn.pixabay.com/photo/2014/03/26/20/54/mountain-298999_960_720.jpg" alt="" style="max-width: 100%; max-height: 100%;">
    </div>
    <div class="col-4">
      <h2>Ceci est une liste d'info sur 4 colonnes</h2>
    </div>
  </div>
  <%# Molécule n°2 avec icones et bouton %>
  <div class="row d-flex justify-content-between">
    <div class="col-1 bg-info d-flex justify-content-around align-items-center">
      <i class="fas fa-share-alt fa-lg"></i>
      <i class="far fa-heart fa-lg"></i>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center p-0">
      <button class="btn btn-info btn-block">Participer</button>
    </div>
  </div>
  <%# Molécule n°3 %>
  <div class="row">
    <div class="col-8">
      <h2>Ceci est une description sur 8 colonnes</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident libero temporibus quod doloremque. Deleniti veniam tempora tenetur molestiae culpa quasi animi voluptatem, qui odio autem ipsam quam distinctio cumque unde impedit repellendus similique ducimus vitae. Libero recusandae ipsam praesentium dolore aliquid. Unde adipisci rem deserunt recusandae tenetur est atque quam molestiae iste, corporis sapiente numquam aperiam labore harum inventore quibusdam architecto temporibus ipsa facilis cum soluta suscipit obcaecati! Quidem neque sint nihil similique, vero quis sunt veritatis rem tempore ut reprehenderit, et perspiciatis. Debitis at mollitia vero facilis. Eius voluptatum doloribus illo quisquam quam alias facilis inventore voluptate quaerat quasi fugiat nobis, praesentium similique aut repellendus error nostrum laborum mollitia, id molestias iste. Vero repellendus omnis quas explicabo suscipit deleniti eius quaerat cum sint corrupti ipsam, veritatis tenetur. Provident nihil ullam officia minus, numquam porro sapiente voluptate asperiores hic eos cupiditate qui praesentium, explicabo neque sequi dolorum odit, earum doloremque animi eius quia temporibus impedit perspiciatis? Culpa natus maiores magnam, ex in, officiis temporibus odit eius quos nostrum fugit. Vero suscipit labore veritatis alias, unde corporis voluptatum officiis sequi dolore at quis expedita. Qui porro dicta molestiae iusto consequuntur similique, deserunt eius! Ut qui, nam, delectus debitis error provident maxime tempora cumque nisi a ipsam beatae dicta nostrum quasi iste? Incidunt reiciendis quaerat sint voluptas quis voluptate, odit voluptatum nisi distinctio quo. Nemo harum provident accusantium, veritatis tempora praesentium eligendi esse, obcaecati quibusdam, aspernatur veniam fugiat iure aut? Aut praesentium, quo alias sunt dolores nam quaerat distinctio ipsam voluptates culpa?</p>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <h2>Ceci est une liste d'info complémentaires sur 4 colonnes</h2>
    </div>
  </div>
  <%# Dernière molécule (icones réseaux sociaux)%>
  <div class="row">
    <div class="col-4 d-flex justify-content-around align-items-center bg-warning">
      <p>Icones supp</p>
      <i class="fas fa-share-alt fa-lg"></i>
      <i class="far fa-heart fa-lg"></i>
    </div>
  </div>
</div>
